body{
    background-image: linear-gradient(rgb(30, 65, 180),rgb(91, 151, 241));
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

#bloc_page{
    width: 460px;
    background-color: cornflowerblue;
    margin: 50px auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgb(4, 4, 104);
    
}

h1{
    color: rgb(4, 4, 104);
    font-family: 'Franklin Gothic Medium'; 
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 10px rgb(4, 4, 104) solid;
}


#bloc2 {
    background-color: azure;
    width: 400px;
    margin: 120px 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border : 2px blue solid;
    box-shadow: 0 10px 25px rgb(4, 4, 104);
    position: absolute;
    
}

select{
    width: 100%;
}

#checkB{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    width: 380px;
    
}
.check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
p{
    text-align: center;
}

input[type=submit]{
    background-color: darkblue;
    border: none;
    padding: 2px;
    width: 60px;
    color: white;
    font-weight: bold;
    margin-left: 70%;
    border-radius: 10px;
}

#table{
    border-top: 1px black solid;
    margin-top: 20px;
    
}
h2{
    text-align: center;
    color: rgb(4, 4, 104);
}

#bloc3{
    display:flex;
    flex-direction: row;
}
.col{
    margin: 10px;
}

